/* @import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap"); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#welcomeHeader {
  color: black;
  height: 150px;
  background-color:white;
  display: flex;
  display: row;
  justify-content: center;
  
} 


#welcomepic {
  position: absolute;
  left: 13%;
  top: 25%;
  height: 600px;
  width: 600px;
}

#signup{
  display: flex;
  position: center;
  
}

.signup {
  padding: 50px;
  background-color: lightgreen;
  background-image: url(https://wallpaperplay.com/walls/full/a/a/b/277863.jpg);
  background-repeat:  no-repeat;
  background-size: cover ;
  width: 100%;
  }


#form {
  height: 600px;
  width: 1000px;
  position: relative;
  left:50%;
  padding: 30px;
  
}

#login {
  margin: 0 auto;
  height: 400px;
  width: 1100px;
  position: relative;
  left:25%; 
  top:0%; 
  color: black;
  
}
  

#loginForm {
  display: flex;
  align-items: center;
 
}
.form-group {
 padding: 10px;
  
}

#btn2 {
  height: 50px;
  width: 100px;
  
}




#mainbox {
  height: 90%;
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  object-fit: fill;
  
}

#mainpic {
  height: 500px;
}

.mainboxouter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.navbar {
background-color: aqua;
display: flex;
justify-content: space-between;

}


.mainBtnRow {
display: flex;
justify-content: space-around;
padding: 20px;
}

.btn {
  height: 50px;
  width: 200px;
  border-radius: 50%;
  background-color: cadetblue;
  
}

.btn:hover{
  height: 50px;
  width: 200px;
  opacity: 50%;
}


.main {
  background-color: cadetblue;
  height: 400px;
  width: 400px;
  position: relative;
  left:35%;
  display: flex;
  justify-content: center;
}

#addbtn {
height: 100px;
width: 100px;
}

#lessbtn {
height: 100px;
width: 125px;

}

#logo {
  height: 120px;
  width: 125px;
  padding: 5px;

}

.chatheader{
  display: flex;
  justify-content: start;
  padding: 10px;
  font-weight: bold;
}


h1 {
  color: black;
  font-family: 'Nobile', sans-serif;
  font-size: x-large;
  /* font-family: 'Gloria Hallelujah', cursive; */
  
} 

#profileCard {
display: flex;
justify-content: center;

}

